.btn {
  display: block;
  font-family: inherit;
  color: inherit;
  font-size: 2rem;
  border: 2px solid var(--color-medium);
  background-color: var(--color-medium);
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s;
  margin: 5px;
}

.btn:not([disabled]):hover {
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent);
}

.btn-option:not([disabled]):hover {
  transform: translateY(1.12552rem);
}

.btn[disabled]:hover {
  cursor: not-allowed;
}

.btn-ui {
  float: right;
}

.btn-option {
  width: 100%;
  text-align: left;
}

.btn-option.correct {
  background-color: var(--color-correct);
  border: 2px solid var(--color-correct);
  color: var(--color-light);
  transform: translateY(1.25rem);
}
.btn-option.wrong {
  background-color: var(--color-theme);
  border: 2px solid var(--color-theme);
  color: var(--color-font-color);
}

.answer {
  /* transform: translateY(1.1rem); */
}

/* ********** */
/* First counter example */
.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  font-weight: bold;
  margin: 6rem;
}

.counter * {
  font-size: inherit;
  padding: 0.8rem;
}
