.highscoreForm {
  margin-bottom: 3.4rem;
}
.nameInput {
  padding: 0.5rem;
}
.nameInput label,
.emailInput label {
  margin-right: 0.5rem;
}

.emailInput {
  padding: 0.5rem;
}

.formBtn {
  display: block;
  text-align: center;
  font-family: inherit;
  color: inherit;
  font-size: 2rem;
  border: 2px solid var(--color-dark);
  background-color: var(--color-dark);
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s;
  margin: 5px;
}

.formBtn:not([disabled]):hover {
  background-color: var(--color-darkest);
}
