.appHeader {
  /* width: 66rem; */
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.appHeader img {
  height: auto;
  width: 32.5rem;

  @media (max-width: 380px) {
    height: auto;
    width: 27.5rem;
  }
}
