.appHeader {
  /* width: 66rem; */
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title {
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 1.5;
  text-align: center;

  margin-bottom: 1em;
}

.appHeader img {
  height: auto;
  width: 32.5rem;

  @media (max-width: 380px) {
    height: auto;
    width: 27.5rem;
  }
}
