.infoBox {
  margin-top: 4rem;
  display: block;
  align-items: center;
  justify-content: center;
  overflow-wrap: normal;
}

.infoBox p {
  font-size: 1.5rem;
  padding: 0.25rem 0;
}

.devSocialsBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.devSocialsBox img {
  width: 2.5rem;
  height: 2.5rem;
}
